@media screen and (min-width: 300px) {
    header {
        top: 0%;
        background-image: url('golf-fairway-grass-close-up-background-course-43150137.jpg');
        border-color: rgb(0, 0, 0);
        border-radius: 10px;
        border-style: solid;
        padding-top: 1%;
        padding-bottom: 1%;
    }
    h1 {
        text-align: center;
    }
    h1 a {
        text-decoration: none;
        color: rgb(255, 255, 255);
        padding-top: 2.4%;
        padding-bottom: 2.4%;
    }
    body {
        background-color: rgb(16, 64, 197);
    }
    #bild {
        width: 30%;
        height: 2%;
        padding: 1%;
    }
    #bild-2 {
        margin-top: 2%;
        width: 97%;
        height: 60%;
        padding: 1.3%;    
    }
    .horisontel-text-ruta-1 {
        margin-top: 1.2%;
        margin-left: 0%;
        background-color: rgb(65, 70, 65);
        width: 99%;
        border-radius: 15px;
        border-style: solid;
        border-color: black;
        float: left;
    }
    .horisontel-text-ruta-2 {
        margin-top: 1.2%;
        margin-left: 0%;
        background-color: rgb(65, 70, 65);
        width: 99%;
        border-radius: 15px;
        border-style: solid;
        border-color: black;
        float: left;
    }
    .horisontel-text-ruta-3 {
        margin-top: 1.2%;
        margin-left: 0%;
        background-color: rgb(65, 70, 65);
        width: 99%;
        border-radius: 15px;
        border-style: solid;
        border-color: black;
        float: left;
    }
    .vertikal-text-ruta-1 {
        margin-top: 1.2%;
        margin-left: 0%;
        background-color: rgb(65, 70, 65);
        color: aqua;
        width: 99%;
        border-radius: 15px;
        border-style: solid;
        border-color: black;
        float: left;
    }
    .vertikal-text-ruta-2 {
        margin-top: 1.2%;
        margin-left: 0%;
        background-color: rgb(65, 70, 65);
        width: 99%;
        border-radius: 15px;
        border-style: solid;
        border-color: black;
        float: left;
    }
    .vertikal-text-ruta-3 {
        margin-top: 1.2%;
        margin-left: 0%;
        background-color: rgb(65, 70, 65);
        width: 99%;
        border-radius: 15px;
        border-style: solid;
        border-color: black;
        float: left;
    }
    .vertikal-text-ruta-4 {
        margin-top: 1.2%;
        margin-left: 0%;
        background-color: rgb(65, 70, 65);
        width: 99%;
        border-radius: 15px;
        border-style: solid;
        border-color: black;
        float: left;
    }
    .vertikal-text-ruta-5 {
        margin-top: 1.2%;
        margin-left: 0%;
        background-color: rgb(65, 70, 65);
        width: 99%;
        border-radius: 15px;
        border-style: solid;
        border-color: black;
        float: left;
    }
    .vertikal-text-ruta-6 {
        margin-top: 1.2%;
        margin-left: 0%;
        background-color: rgb(65, 70, 65);
        width: 99%;
        border-radius: 15px;
        border-style: solid;
        border-color: black;
        float: left;
    }
    p {
        color: aqua;
        padding-left: 1%;
    }
    .sport-lista{
        border-color: rgb(1, 1, 1);
        border-radius: 15px;
        border-style: solid;
        background-color: black;
        padding-bottom: 0.5%;
    }
    .informations-tabell-1 li {
        color: aqua;
        
        padding: 0.43%;
    }
    .informations-tabell-2 li {
        color: aqua;
        
        padding: 0.18%;
    }
    .informations-tabell-3 li {
        color: aqua;
        
        padding: 1.12%;
    }
    .informations-tabell-4 li {
        color: aqua;
        
        margin-left: 23%;
        padding: 2.14%;
    }
    .navbar {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        border-color: rgb(0, 0, 0);
        border-radius: 10px;
        border-style: solid;
        background-color: rgb(65, 70, 65);
        position: none;
    }
    li a {
        transition: ease-in-out 0.5s;
        display: block;
        color: aqua;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        float: left;
        position: sticky;
        border-style: solid;
        border-color: rgba(0, 255, 255, 0);
        border-radius: 8px;
    }
    footer {
        position: relative;
        bottom: 0;
        height: 20%;
        width: 99.4%;
        text-align: center;
        background-color: rgb(65, 70, 65);
        color: aqua;
        border-color: rgb(0, 0, 0);
        border-radius: 10px;
        border-style: solid;
        margin-top: 90ch;
    }
    .footer-2 {
        position: relative;
        bottom: 0;
        height: 20%;
        width: 99.4%;
        text-align: center;
        background-color: rgb(65, 70, 65);
        color: aqua;
        border-color: rgb(0, 0, 0);
        border-radius: 10px;
        border-style: solid;
        margin-top: 405ch;
    }
    .footer-3 {
        position: relative;
        bottom: 0;
        height: 20%;
        width: 99.4%;
        text-align: center;
        background-color: rgb(65, 70, 65);
        color: aqua;
        border-color: rgb(0, 0, 0);
        border-radius: 10px;
        border-style: solid;
        margin-top: 260ch;
    }
    li a:hover {
        background-color: black;
    }
    #foot-iconer {
        transition: ease-in-out 0.5s;
        width: 15vw;
        padding-top: 1%;
        padding-bottom: 1%;
        font-size: 300%;
        border-color: rgba(0, 0, 0, 0);
        border-radius: 200px;
        border-style: solid;
    }
    #foot-iconer:hover {
        background-color: black;
    }
    body {
        font-family: Arial, Helvetica, sans-serif;
      }
      .mobile-container {
        max-width: 480px;
        margin: auto;
        background-color: #555;
        height: 500px;
        color: white;
        border-radius: 10px;
      }
      .topnav {
        overflow: hidden;
        background-color: #333;
        position: relative;
      }
      .topnav #myLinks {
        display: none;
      }
      .topnav a {
        color: white;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        display: block;
      }
      .topnav a.icon {
        background: black;
        display: block;
        position: absolute;
        right: 0;
        top: 0;
      }
      .topnav a:hover {
        background-color: #ddd;
        color: black;
      }
      .active {
        background-color: #4d26d8;
        color: white;
      }
   }
   @media screen and (min-width: 800px) {
    header {
        top: 0%;
        background-image: url('golf-fairway-grass-close-up-background-course-43150137.jpg');
        border-color: rgb(0, 0, 0);
        border-radius: 10px;
        border-style: solid;
        padding-top: 1%;
        padding-bottom: 1%;
    }
    h1 {
        text-align: center;
    }
    h1 a {
        text-decoration: none;
        color: rgb(255, 255, 255);
        padding-top: 2.4%;
        padding-bottom: 2.4%;
    }
    body {
        background-color: rgb(197, 16, 16);
    }
    #bild {
        width: 30%;
        height: 2%;
        padding: 1.3%;
    }
    #bild-2 {
        margin-top: 2%;
        width: 97%;
        height: 60%;
        padding: 1.3%; 
    }
    .horisontel-text-ruta-1 {
        margin-top: 1%;
        margin-left: 1.1%;
        background-color: rgb(65, 70, 65);
        width: 30%;
        border-radius: 15px;
        border-style: solid;
        border-color: black;
        float: left;
    }
    .horisontel-text-ruta-2 {
        margin-top: 1%;
        margin-left: 2.5%;
        background-color: rgb(65, 70, 65);
        width: 30%;
        border-radius: 15px;
        border-style: solid;
        border-color: black;
        float: left;
    }
    .horisontel-text-ruta-3 {
        margin-top: 1%;
        margin-left: 2.5%;
        background-color: rgb(65, 70, 65);
        width: 30%;
        border-radius: 15px;
        border-style: solid;
        border-color: black;
        float: left;
    }
    .vertikal-text-ruta-1 {
        margin-top: 1.2%;
        margin-left: 0%;
        background-color: rgb(65, 70, 65);
        color: aqua;
        width: 99%;
        border-radius: 15px;
        border-style: solid;
        border-color: black;
        float: left;
    }
    .vertikal-text-ruta-2 {
        margin-top: 1.2%;
        margin-left: 0%;
        background-color: rgb(65, 70, 65);
        width: 99%;
        border-radius: 15px;
        border-style: solid;
        border-color: black;
        float: left;
    }
    .vertikal-text-ruta-3 {
        margin-top: 1.2%;
        margin-left: 0%;
        background-color: rgb(65, 70, 65);
        width: 99%;
        border-radius: 15px;
        border-style: solid;
        border-color: black;
        float: left;
    }
    .vertikal-text-ruta-4 {
        margin-top: 1.2%;
        margin-left: 0%;
        background-color: rgb(65, 70, 65);
        width: 99%;
        border-radius: 15px;
        border-style: solid;
        border-color: black;
        float: left;
    }
    .vertikal-text-ruta-5 {
        margin-top: 1.2%;
        margin-left: 0%;
        background-color: rgb(65, 70, 65);
        width: 99%;
        border-radius: 15px;
        border-style: solid;
        border-color: black;
        float: left;
    }
    .vertikal-text-ruta-6 {
        margin-top: 1.2%;
        margin-left: 0%;
        background-color: rgb(65, 70, 65);
        width: 99%;
        border-radius: 15px;
        border-style: solid;
        border-color: black;
        float: left;
    }
    p {
        color: aqua;
        padding-left: 1%;
    }
    .sport-lista{
        border-color: rgb(1, 1, 1);
        border-radius: 15px;
        border-style: solid;
        background-color: black;
        padding-bottom: 0.5%;
    }
    .informations-tabell-1 li {
        color: aqua;
        padding: 0.43%;
    }
    .informations-tabell-2 li {
        color: aqua;
        padding: 0.18%;
    }
    .informations-tabell-3 li {
        color: aqua;
        padding: 1.12%;
    }
    .informations-tabell-4 li {
        color: aqua;
        margin-left: 40%;
        padding: 2.14%;
    }
    .navbar {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        border-color: rgb(0, 0, 0);
        border-radius: 10px;
        border-style: solid;
        background-color: rgb(65, 70, 65);
        position: none;
    }
    li a {
        transition: ease-in-out 0.5s;
        display: block;
        color: aqua;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        float: left;
        position: sticky;
        border-style: solid;
        border-color: rgba(0, 255, 255, 0);
        border-radius: 8px;
    }
    footer {
        position: relative;
        bottom: 0;
        height: 20%;
        width: 99.4%;
        text-align: center;
        background-color: rgb(65, 70, 65);
        color: aqua;
        border-color: rgb(0, 0, 0);
        border-radius: 10px;
        border-style: solid;
        margin-top: 79ch;
    }
    .footer-2 {
        position: relative;
        bottom: 0;
        height: 20%;
        width: 99.4%;
        text-align: center;
        background-color: rgb(65, 70, 65);
        color: aqua;
        border-color: rgb(0, 0, 0);
        border-radius: 10px;
        border-style: solid;
        margin-top: 448ch;
    }
    .footer-3 {
        position: relative;
        bottom: 0;
        height: 20%;
        width: 99.4%;
        text-align: center;
        background-color: rgb(65, 70, 65);
        color: aqua;
        border-color: rgb(0, 0, 0);
        border-radius: 10px;
        border-style: solid;
        margin-top: 482ch;
    }
    li a:hover {
        background-color: black;
    }
    #foot-iconer {
        transition: ease-in-out 0.5s;
        width: 15vw;
        padding-top: 1%;
        padding-bottom: 1%;
        font-size: 300%;
        border-color: rgba(0, 0, 0, 0);
        border-radius: 200px;
        border-style: solid;
    }
    #foot-iconer:hover {
        background-color: black;
    }
    body {
        font-family: Arial, Helvetica, sans-serif;
      }
      .mobile-container {
        max-width: 480px;
        margin: auto;
        background-color: #555;
        height: 500px;
        color: white;
        border-radius: 10px;
      }
      .topnav {
        overflow: hidden;
        background-color: #333;
        position: relative;
      }
      .topnav #myLinks {
        display: none;
      }
      .topnav a {
        color: white;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        display: block;
      }
      .topnav a.icon {
        background: black;
        display: block;
        position: absolute;
        right: 0;
        top: 0;
      }
      .topnav a:hover {
        background-color: #ddd;
        color: black;
      }
      .active {
        background-color: #4d26d8;
        color: white;
      }
   }
   @media screen and (min-width: 1200px) {
    header {
        top: 0%;
        background-image: url('golf-fairway-grass-close-up-background-course-43150137.jpg');
        border-color: rgb(0, 0, 0);
        border-radius: 10px;
        border-style: solid;
        padding-top: 1%;
        padding-bottom: 1%;
    }
    h1 {
        text-align: center;
    }
    h1 a {
        text-decoration: none;
        color: rgb(255, 255, 255);
        padding-top: 2.4%;
        padding-bottom: 2.4%;
    }
    body {
        background-color: rgb(65, 60, 60);
    }
    #bild {
        width: 30%;
        height: 2%;
        padding: 1.3%;
    }
    #bild-2 {
        margin-top: 0;
        float: left;
        width: 30%;
        height: 60%;
        padding-right: 3%;
    }
    .horisontel-text-ruta-1 {
        margin-top: 1%;
        margin-left: 1.1%;
        background-color: rgb(65, 70, 65);
        width: 30%;
        border-radius: 15px;
        border-style: solid;
        border-color: black;
        float: left;
    }
    .horisontel-text-ruta-2 {
        margin-top: 1%;
        margin-left: 2.5%;
        background-color: rgb(65, 70, 65);
        width: 30%;
        border-radius: 15px;
        border-style: solid;
        border-color: black;
        float: left;
    }
    .horisontel-text-ruta-3 {
        margin-top: 1%;
        margin-left: 2.5%;
        background-color: rgb(65, 70, 65);
        width: 30%;
        border-radius: 15px;
        border-style: solid;
        border-color: black;
        float: left;
    }
    .vertikal-text-ruta-1 {
        margin-top: 1.2%;
        margin-left: 0%;
        background-color: rgb(65, 70, 65);
        color: aqua;
        width: 99%;
        border-radius: 15px;
        border-style: solid;
        border-color: black;
        float: left;
    }
    .vertikal-text-ruta-2 {
        margin-top: 1.2%;
        margin-left: 0%;
        background-color: rgb(65, 70, 65);
        width: 99%;
        border-radius: 15px;
        border-style: solid;
        border-color: black;
        float: left;
    }
    .vertikal-text-ruta-3 {
        margin-top: 1.2%;
        margin-left: 0%;
        background-color: rgb(65, 70, 65);
        width: 99%;
        border-radius: 15px;
        border-style: solid;
        border-color: black;
        float: left;
    }
    .vertikal-text-ruta-4 {
        margin-top: 1.2%;
        margin-left: 0%;
        background-color: rgb(65, 70, 65);
        width: 99%;
        border-radius: 15px;
        border-style: solid;
        border-color: black;
        float: left;
    }
    .vertikal-text-ruta-5 {
        margin-top: 1.2%;
        margin-left: 0%;
        background-color: rgb(65, 70, 65);
        width: 99%;
        border-radius: 15px;
        border-style: solid;
        border-color: black;
        float: left;
    }
    .vertikal-text-ruta-6 {
        margin-top: 1.2%;
        margin-left: 0%;
        background-color: rgb(65, 70, 65);
        width: 99%;
        border-radius: 15px;
        border-style: solid;
        border-color: black;
        float: left;
    }
    p {
        color: aqua;
        padding-left: 1%;
    }
    .sport-lista{
        border-color: rgb(1, 1, 1);
        border-radius: 15px;
        border-style: solid;
        background-color: black;
        padding-bottom: 0.5%;
    }
    .informations-tabell-1 li {
        color: aqua;
        margin-left: 35%;
        padding: 0.4%;
    }
    .informations-tabell-2 li {
        color: aqua;
        margin-left: 35%;
        padding: 0.25%;
    }
    .informations-tabell-3 li {
        color: aqua;
        margin-left: 35%;
        padding: 0.98%;
    }
    .informations-tabell-4 li {
        color: aqua;
        margin-left: 35%;
        padding: 0.8%;
    }
    .navbar {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        border-color: rgb(0, 0, 0);
        border-radius: 10px;
        border-style: solid;
        background-color: rgb(65, 70, 65);
        position: none;
    }
    li a {
        transition: ease-in-out 0.5s;
        display: block;
        color: aqua;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        float: left;
        position: sticky;
        border-style: solid;
        border-color: rgba(0, 255, 255, 0);
        border-radius: 8px;
    }
    footer {
        position: relative;
        bottom: 0;
        height: 20%;
        width: 99.4%;
        text-align: center;
        background-color: rgb(65, 70, 65);
        color: aqua;
        border-color: rgb(0, 0, 0);
        border-radius: 10px;
        border-style: solid;
        margin-top: 40ch;
    }
    .footer-2 {
        position: relative;
        bottom: 0;
        height: 20%;
        width: 99.4%;
        text-align: center;
        background-color: rgb(65, 70, 65);
        color: aqua;
        border-color: rgb(0, 0, 0);
        border-radius: 10px;
        border-style: solid;
        margin-top: 185ch;
    }
    .footer-3 {
        position: relative;
        bottom: 0;
        height: 20%;
        width: 99.4%;
        text-align: center;
        background-color: rgb(65, 70, 65);
        color: aqua;
        border-color: rgb(0, 0, 0);
        border-radius: 10px;
        border-style: solid;
        margin-top: 185ch;
    }
    li a:hover {
        background-color: black;
    }
    #foot-iconer {
        transition: ease-in-out 0.5s;
        width: 15vw;
        padding-top: 1%;
        padding-bottom: 1%;
        font-size: 300%;
        border-color: rgba(0, 0, 0, 0);
        border-radius: 200px;
        border-style: solid;
    }
    #foot-iconer:hover {
        background-color: black;
    }
    body {
        font-family: Arial, Helvetica, sans-serif;
      }
      .mobile-container {
        max-width: 480px;
        margin: auto;
        background-color: #555;
        height: 500px;
        color: white;
        border-radius: 10px;
      }
      .topnav {
        overflow: hidden;
        background-color: #333;
        position: relative;
      }
      .topnav #myLinks {
        display: none;
      }
      .topnav a {
        color: white;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        display: block;
      }
      .topnav a.icon {
        background: black;
        display: block;
        position: absolute;
        right: 0;
        top: 0;
      }
      .topnav a:hover {
        background-color: #ddd;
        color: black;
      }
      .active {
        background-color: #4d26d8;
        color: white;
      }
   }