   @media screen and (min-width: 350px) {
    header {
        top: 0%;
        background-image: url('golf-fairway-grass-close-up-background-course-43150137.jpg');
        border-color: rgb(0, 0, 0);
        border-radius: 10px;
        border-style: solid;
        padding-top: 1%;
        padding-bottom: 1%;
    }
    h1 {
        text-align: center;
    }
    h1 a {
        text-decoration: none;
        color: rgb(255, 255, 255);
        padding-top: 2.4%;
        padding-bottom: 2.4%;
    }
    body {
        background-color: rgb(16, 64, 197);
    }
    #bild {
        width: 30%;
        height: 2%;
        padding: 1%;
    }
    #bild-2 {
        margin-top: 2%;
        width: 30vh;
        height: 60vh;
        padding: 1.3%;
        
        
    }
    .horisontel-text-ruta-1 {
        margin-top: 1%;
        margin-left: 0.9%;
        background-color: rgb(65, 70, 65);
        width: 30%;
        border-radius: 15px;
        border-style: solid;
        border-color: black;
        float: left;
    }
    .horisontel-text-ruta-2 {
        margin-top: 1%;
        margin-left: 2%;
        background-color: rgb(65, 70, 65);
        width: 30%;
        border-radius: 15px;
        border-style: solid;
        border-color: black;
        float: left;
    }
    .horisontel-text-ruta-3 {
        margin-top: 1%;
        margin-left: 2%;
        background-color: rgb(65, 70, 65);
        width: 30%;
        border-radius: 15px;
        border-style: solid;
        border-color: black;
        float: left;
    }
    .vertikal-text-ruta-1 {
        margin-top: -91.3%;
        margin-left: 35%;
        background-color: rgb(65, 70, 65);
        color: aqua;
        width: 60vw;
        
        border-radius: 15px;
        border-style: solid;
        border-color: black;
    }
    .vertikal-text-ruta-2 {
        margin-top: 2.2%;
        margin-left: 35%;
        background-color: rgb(65, 70, 65);
        width: 60vw;
    
        border-radius: 15px;
        border-style: solid;
        border-color: black;
    }
    .vertikal-text-ruta-3 {
        margin-top: 2.2%;
        margin-left: 35%;
        background-color: rgb(65, 70, 65);
        width: 60vw;
    
        border-radius: 15px;
        border-style: solid;
        border-color: black;
    }
    .vertikal-text-ruta-4 {
        margin-top: -91.3%;
        margin-left: 40%;
        background-color: rgb(65, 70, 65);
        width: 30%;
        
        border-radius: 15px;
        border-style: solid;
        border-color: black;
    }
    .vertikal-text-ruta-5 {
        margin-top: 2.2%;
        margin-left: 40%;
        background-color: rgb(65, 70, 65);
        width: 30%;
    
        border-radius: 15px;
        border-style: solid;
        border-color: black;
    }
    .vertikal-text-ruta-6 {
        margin-top: 2.2%;
        margin-left: 40%;
        background-color: rgb(65, 70, 65);
        width: 30%;
        
        border-radius: 15px;
        border-style: solid;
        border-color: black;
    }
    p {
        color: aqua;
        padding-left: 1%;
    }
    .sport-lista{
        border-color: rgb(1, 1, 1);
        border-radius: 15px;
        border-style: solid;
        background-color: black;
        padding-bottom: 0.5%;
    }
    .informations-tabell-1 li {
        color: aqua;
        
        padding: 0.43%;
    }
    .informations-tabell-2 li {
        color: aqua;
        
        padding: 0.18%;
    }
    .informations-tabell-3 li {
        color: aqua;
        
        padding: 1.12%;
    }
    .informations-tabell-4 li {
        color: aqua;
        padding: 2.14%;
    }
    .navbar {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        border-color: rgb(0, 0, 0);
        border-radius: 10px;
        border-style: solid;
        background-color: rgb(65, 70, 65);
        position: none;
    }
    li a {
        transition: ease-in-out 0.5s;
        display: block;
        color: aqua;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        float: left;
        position: sticky;
        border-style: solid;
        border-color: rgba(0, 255, 255, 0);
        border-radius: 8px;
    }
    .bild-tabell {
        width: 100%;
        height: 100%;
    }
    footer {
        position: relative;
        margin-top: 210%;
        height: 15vh;
        width: 99.4%;
        text-align: center;
        background-color: rgb(65, 70, 65);
        color: aqua;
        border-color: rgb(0, 0, 0);
        border-radius: 10px;
        border-style: solid;
        
        
    }
    li a:hover {
        background-color: black;
    }
    #foot-iconer {
        transition: ease-in-out 0.5s;
        width: 15vw;
        padding-top: 1%;
        padding-bottom: 1%;
        font-size: 300%;
        border-color: rgba(0, 0, 0, 0);
        border-radius: 100px;
        border-style: solid;
    }
    #foot-iconer:hover {
        background-color: black;
    }
   }
   @media screen and (min-width: 800px) {
    header {
        top: 0%;
        background-image: url('golf-fairway-grass-close-up-background-course-43150137.jpg');
        border-color: rgb(0, 0, 0);
        border-radius: 10px;
        border-style: solid;
        padding-top: 1%;
        padding-bottom: 1%;
    }
    h1 {
        text-align: center;
    }
    h1 a {
        text-decoration: none;
        color: rgb(255, 255, 255);
        padding-top: 2.4%;
        padding-bottom: 2.4%;
    }
    body {
        background-color: rgb(197, 16, 16);
    }
    #bild {
        width: 30%;
        height: 2%;
        padding: 1.3%;
    }
    #bild-2 {
        margin-top: 2%;
        width: 30vw;
        height: 60vh;
        padding: 1.3%;
    }
    .horisontel-text-ruta-1 {
        margin-top: 1%;
        margin-left: 1.1%;
        background-color: rgb(65, 70, 65);
        width: 30%;
        border-radius: 15px;
        border-style: solid;
        border-color: black;
        float: left;
    }
    .horisontel-text-ruta-2 {
        margin-top: 1%;
        margin-left: 2.5%;
        background-color: rgb(65, 70, 65);
        width: 30%;
        border-radius: 15px;
        border-style: solid;
        border-color: black;
        float: left;
    }
    .horisontel-text-ruta-3 {
        margin-top: 1%;
        margin-left: 2.5%;
        background-color: rgb(65, 70, 65);
        width: 30%;
        border-radius: 15px;
        border-style: solid;
        border-color: black;
        float: left;
    }
    .vertikal-text-ruta-1 {
        margin-top: -91.3%;
        margin-left: 35%;
        background-color: rgb(65, 70, 65);
        color: aqua;
        width: 60vw;
        
        border-radius: 15px;
        border-style: solid;
        border-color: black;
    }
    .vertikal-text-ruta-2 {
        margin-top: 2.2%;
        margin-left: 35%;
        background-color: rgb(65, 70, 65);
        width: 60vw;
    
        border-radius: 15px;
        border-style: solid;
        border-color: black;
    }
    .vertikal-text-ruta-3 {
        margin-top: 2.2%;
        margin-left: 35%;
        background-color: rgb(65, 70, 65);
        width: 60vw;
    
        border-radius: 15px;
        border-style: solid;
        border-color: black;
    }
    .vertikal-text-ruta-4 {
        margin-top: -91.3%;
        margin-left: 40%;
        background-color: rgb(65, 70, 65);
        width: 30%;
        
        border-radius: 15px;
        border-style: solid;
        border-color: black;
    }
    .vertikal-text-ruta-5 {
        margin-top: 2.2%;
        margin-left: 40%;
        background-color: rgb(65, 70, 65);
        width: 30%;
    
        border-radius: 15px;
        border-style: solid;
        border-color: black;
    }
    .vertikal-text-ruta-6 {
        margin-top: 2.2%;
        margin-left: 40%;
        background-color: rgb(65, 70, 65);
        width: 30%;
        
        border-radius: 15px;
        border-style: solid;
        border-color: black;
    }
    p {
        color: aqua;
        padding-left: 1%;
    }
    .sport-lista{
        border-color: rgb(1, 1, 1);
        border-radius: 15px;
        border-style: solid;
        background-color: black;
        padding-bottom: 0.5%;
    }
    .informations-tabell-1 li {
        color: aqua;
        
        padding: 0.43%;
    }
    .informations-tabell-2 li {
        color: aqua;
        
        padding: 0.18%;
    }
    .informations-tabell-3 li {
        color: aqua;
        
        padding: 1.12%;
    }
    .informations-tabell-4 li {
        color: aqua;
        padding: 2.14%;
    }
    .navbar {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        border-color: rgb(0, 0, 0);
        border-radius: 10px;
        border-style: solid;
        background-color: rgb(65, 70, 65);
        position: none;
    }
    li a {
        transition: ease-in-out 0.5s;
        display: block;
        color: aqua;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        float: left;
        position: sticky;
        border-style: solid;
        border-color: rgba(0, 255, 255, 0);
        border-radius: 8px;
    }
    .bild-tabell {
        width: 40%;
        height: 100%;
    }
    footer {
        position: relative;
        bottom: 0;
        height: 15vh;
        width: 99.4%;
        text-align: center;
        background-color: rgb(65, 70, 65);
        color: aqua;
        border-color: rgb(0, 0, 0);
        border-radius: 10px;
        border-style: solid;
        margin-top: 70ch;
    }
    li a:hover {
        background-color: black;
    }
    #foot-iconer {
        transition: ease-in-out 0.5s;
        width: 15vw;
        padding-top: 1%;
        padding-bottom: 1%;
        font-size: 300%;
        border-color: rgba(0, 0, 0, 0);
        border-radius: 100px;
        border-style: solid;
    }
    #foot-iconer:hover {
        background-color: black;
    }
   }
   @media screen and (min-width: 1200px) {
    header {
        top: 0%;
        background-image: url('golf-fairway-grass-close-up-background-course-43150137.jpg');
        border-color: rgb(0, 0, 0);
        border-radius: 10px;
        border-style: solid;
        padding-top: 1%;
        padding-bottom: 1%;
    }
    h1 {
        text-align: center;
    }
    h1 a {
        text-decoration: none;
        color: rgb(255, 255, 255);
        padding-top: 2.4%;
        padding-bottom: 2.4%;
    }
    body {
        background-color: rgb(65, 60, 60);
    }
    #bild {
        width: 30%;
        height: 2%;
        padding: 1.3%;
    }
    #bild-2 {
        margin-top: 0;
        float: left;
        width: 30vw;
        height: 60vh;
        padding-right: 3%;
    }
    .horisontel-text-ruta-1 {
        margin-top: 1%;
        margin-left: 1.1%;
        background-color: rgb(65, 70, 65);
        width: 30%;
        border-radius: 15px;
        border-style: solid;
        border-color: black;
        float: left;
    }
    .horisontel-text-ruta-2 {
        margin-top: 1%;
        margin-left: 2.5%;
        background-color: rgb(65, 70, 65);
        width: 30%;
        border-radius: 15px;
        border-style: solid;
        border-color: black;
        float: left;
    }
    .horisontel-text-ruta-3 {
        margin-top: 1%;
        margin-left: 2.5%;
        background-color: rgb(65, 70, 65);
        width: 30%;
        border-radius: 15px;
        border-style: solid;
        border-color: black;
        float: left;
    }
    .vertikal-text-ruta-1 {
        margin-top: 1.2%;
        margin-left: 0%;
        background-color: rgb(65, 70, 65);
        color: aqua;
        width: 99%;
        border-radius: 15px;
        border-style: solid;
        border-color: black;
        float: left;
    }
    .vertikal-text-ruta-2 {
        margin-top: 1.2%;
        margin-left: 0%;
        background-color: rgb(65, 70, 65);
        width: 99%;
        border-radius: 15px;
        border-style: solid;
        border-color: black;
        float: left;
    }
    .vertikal-text-ruta-3 {
        margin-top: 1.2%;
        margin-left: 0%;
        background-color: rgb(65, 70, 65);
        width: 99%;
        border-radius: 15px;
        border-style: solid;
        border-color: black;
        float: left;
    }
    .vertikal-text-ruta-4 {
        margin-top: 1.2%;
        margin-left: 0%;
        background-color: rgb(65, 70, 65);
        width: 90%;
        border-radius: 15px;
        border-style: solid;
        border-color: black;
        float: left;
    }
    .vertikal-text-ruta-5 {
        margin-top: 1.2%;
        margin-left: 0%;
        background-color: rgb(65, 70, 65);
        width: 90%;
        border-radius: 15px;
        border-style: solid;
        border-color: black;
        float: left;
    }
    .vertikal-text-ruta-6 {
        margin-top: 1.2%;
        margin-left: 0%;
        background-color: rgb(65, 70, 65);
        width: 90%;
        border-radius: 15px;
        border-style: solid;
        border-color: black;
        float: left;
    }
    p {
        color: aqua;
        padding-left: 1%;
    }
    .sport-lista{
        border-color: rgb(1, 1, 1);
        border-radius: 15px;
        border-style: solid;
        background-color: black;
        padding-bottom: 0.5%;
    }
    .informations-tabell-1 li {
        color: aqua;
        
        padding: 0.43%;
    }
    .informations-tabell-2 li {
        color: aqua;
        
        padding: 0.18%;
    }
    .informations-tabell-3 li {
        color: aqua;
        
        padding: 1.12%;
    }
    .informations-tabell-4 li {
        color: aqua;
        padding: 0.8%;
    }
    .navbar {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        border-color: rgb(0, 0, 0);
        border-radius: 10px;
        border-style: solid;
        background-color: rgb(65, 70, 65);
        position: none;
    }
    li a {
        transition: ease-in-out 0.5s;
        display: block;
        color: aqua;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        float: left;
        position: sticky;
        border-style: solid;
        border-color: rgba(0, 255, 255, 0);
        border-radius: 8px;
    }
    .bild-tabell {
        width: 40%;
        height: 100%;
    }
    footer {
        position: relative;
        bottom: 0;
        height: 20%;
        width: 99.4%;
        text-align: center;
        background-color: rgb(65, 70, 65);
        color: aqua;
        border-color: rgb(0, 0, 0);
        border-radius: 10px;
        border-style: solid;
        margin-top: 70ch;
    }
    .footer-2 {
        position: relative;
        bottom: 0;
        height: 20%;
        width: 99.4%;
        text-align: center;
        background-color: rgb(65, 70, 65);
        color: aqua;
        border-color: rgb(0, 0, 0);
        border-radius: 10px;
        border-style: solid;
        margin-top: 200ch;
    }
    li a:hover {
        background-color: black;
    }
    #foot-iconer {
        transition: ease-in-out 0.5s;
        width: 15vw;
        padding-top: 1%;
        padding-bottom: 1%;
        font-size: 300%;
        border-color: rgba(0, 0, 0, 0);
        border-radius: 200px;
        border-style: solid;
    }
    #foot-iconer:hover {
        background-color: black;
    }
   }